<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <title>Crossover Online Test Exmple</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div><h2 th:text="${examName}"></h2></div>
<div><h3 th:text="${examDescription}"></h3></div>
<hr/>
<form th:action="@{/login}" th:method="post">
    <!--<input type="hidden" th:name="examId" th:value="${examId}"/>-->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <div><label>User Name: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>

    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>
